*{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

body{
 overflow-x: hidden;
}

.galeria {
  height: 325px;
  width: 325px;
  margin:1em auto;
  outline: 3px dotted #7A6EAF;
  position: relative;  
  align-items: center;
  }
  
.galeria img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1.5s;
}

.galeria input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #7A6EAF;
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
  bottom: 0;
  outline: none;
}

.galeria input:checked {
  border: 6px solid #7A6EAF;
  outline: none;
}

  
.galeria input[type=radio] {
  position: relative;
  bottom: calc(-300px - 2.5em);
}
  
.galeria input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1) {
  opacity: 1;
}
  
.galeria input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2) {
  opacity: 1;
}
  
.galeria input[type=radio]:nth-of-type(3):checked ~ img:nth-of-type(3) {
  opacity: 1;
}
  
.galeria input[type=radio]:nth-of-type(4):checked ~ img:nth-of-type(4) {
  opacity: 1;
}

#about{
  margin-left: 10px;
}

footer{
  text-align: center;
  background-color: #7666bd;
  margin-bottom: 0;
}

.imagen_redonda {
  float:right ;
  margin-left: 5px;
  margin-right: 5px;
 border-radius: 20px;
}

aside{
display:inline-block;
}

#derecha{
  float:right;
}
